{% load static %}

<style>
    .photos_cont {

        margin: 10px auto;
        padding: 10px;
        /* width: 80%; */
        background-color: white;
        border-radius: 7px;
        box-shadow: 2px 2px 6px rgb(205, 205, 205);
        flex-direction: column;
        display: none;


    }

    .photos_cont .topsec {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
 }

    .topsec .addPic {
        text-align: end;
        color: dodgerblue;
        font-size: 12px;

    }
 
    .topsec .addPic:hover {
        transform: scale(0.98);
        text-decoration: underline !important;
        cursor: pointer;
        color: rgb(87, 114, 141);
       

    }
 

    .photosCardCont {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .photosCard{
        padding: 5px;
        margin: 5px;
    }
    
  
    .photos_cont .profilelogo {
       
    width: 180px;
    height: 180px;
    object-fit: cover;
    box-shadow: 1px 1px 6px grey;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;

    }

   
   
    
    
</style>
<div class="photos_cont">

    
    <div class="topsec">
        
        <h5 class="heading">Photos</h5>
        <div class="addPic">Add More Photos </div>
    </div>
    <div class="photosCardCont">
      
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
      
      
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
      
      
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
      
      
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
        <div class="photosCard">
              <img src="{%static 'abhaypic.jpg' %}" alt="" class="profilelogo zoomImg">
        </div>
     
      
    </div> 
</div>