{% load static %}

<style>
.addFriendsCard{
    width: fit-content;
    /* background: gray; */
    box-shadow: 1px 1px 4px grey;
    margin: 6px;
    border-radius: 5px;
    height: 323px;

}
.addFriendsCard img{
 width: 220px;
 height: 220px;

 box-shadow: 1px 1px 4px rgb(225, 225, 225);
}
.addFriendsCard .info{
    margin-left: 10px;
    margin-top: 5px;
}
.addFriendsCard .MutualFriends{

    font-weight: 400;
    color: gray;

}
.addFriendsCard .username{
font-weight: 700;
}
.addFriendsCard .addFriend{
    width: 80%;
    background: #e8f0ff;
    padding: 6px;
    text-align: center;
    margin: 9px auto 9px auto;
    border-radius: 5px;
}
.addFriendsCard .addFriend:hover{
 
    background: #d9e5fc;
     
}
.addFriendsCard .addFriend a{
   
 color: dodgerblue;
 font-weight: 700;   
}

</style>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
<div class="addFriendsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="addFriend"><a href=""><i class="fa fa-user-plus" aria-hidden="true"></i> Add friend</a></div>

</div>
