{% load static %}
<style>
     .createpost {
        padding: 10px;
        background-color: white;
        border-radius: 7px;
        box-shadow: 1px 1px 4px rgb(230, 230, 230);
        margin: 10px 0px;

    }

    .createpost .topofpost {


        height: fit-content;
        /* margin: 5px 0px; */
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 8px 0px;

    }

    .createpost .profilelogo {

        width: 40px !important;
        height: 40px !important;
        border-radius: 50%;


    }

    .topofpost textarea {
        width: 90%;
        background-color: rgb(233, 233, 233);
        outline: none;
        resize: none;
        border: none;
        height: inherit;

        border-radius: 20px;
        padding-left: 15px;
        cursor: pointer;
    }
    .linkMiddlePage {


border-radius: 7px;
width: 100%;
justify-content: center !important;
cursor: pointer;

}

.linkMiddlePage:hover {

background: rgb(230, 230, 230);



}





    @media(max-width:820px) {




     .createpost {



            font-size: 12px;

        }


    }

    @media(max-width:600px) {



        .createpost .profilelogo {
            width: 30px !important;
            height: 30px !important;
        }



    }

    @media(max-width:340px) {



        .createpost .profilelogo {
            width: 30px !important;
            height: 30px !important;
        }


         .createpost,
        .sec1 .rightcontent .itemcontent {

            font-size: 9px !important;

        }



    }
</style>

<div class="createpost">

    <div class="topofpost fbcr">
        <img src="{%static 'facebook-logo.png' %}" alt="" class="profilelogo" style="width: 50px; height: 50px;">
        <textarea name="description" id="description"></textarea>
    </div>


    <div class="bottomofpost facr  pt-2">

        <div class="livevideo fbcr linkMiddlePage">
            <div class="iconhomepage"><i class="fa fa-video-camera" aria-hidden="true" style="color:red ;"
                    style="color:dodgerblue;"></i></div>
            <div class="">Live video</div>
        </div>
        <div class="photo_video fbcr linkMiddlePage">
            <div class="iconhomepage"><i class="fa fa-photo" aria-hidden="true" style="color:darkgreen ;"
                    style="color:dodgerblue;"></i></div>
            <div id="photo_video_link" class="">Photo/video</div>
        </div>
        <div class="feeling_activity fbcr linkMiddlePage">
            <div class="iconhomepage"><i class="fa fa-smile-o" aria-hidden="true" style="color:orange ;"
                    style="color:dodgerblue;"></i></div>
            <div class="">Feeling/activity</div>
        </div>


    </div>


</div>