{% load static %}

<style>
.friendsRequestsCard{
    width: fit-content;
    /* background: gray; */
    box-shadow: 1px 1px 4px grey;
    margin: 6px;
    border-radius: 5px;
    height: 350px;

}
.friendsRequestsCard img{
 width: 200px;
 height: 200px;

 box-shadow: 1px 1px 4px rgb(225, 225, 225);
}
.friendsRequestsCard .info{
    margin-left: 10px;
    margin-top: 5px;
}
.friendsRequestsCard .MutualFriends{

    font-weight: 400;
    color: gray;

}
.friendsRequestsCard .username{
font-weight: 700;
}
.friendsRequestsCard .friendsRequest{
    width: 80%;
    background: #e8f0ff;
    padding: 6px;
    text-align: center;
    margin: 9px auto 9px auto;
    border-radius: 5px;
}
.friendsRequestsCard .friendsRequest:hover,.friendsRequestsCard .CancelSuggestion:hover{
 
    background: #d9e5fc;
     
}
.friendsRequestsCard .friendsRequest a{
   
 color: dodgerblue;
 font-weight: 700;   
}
.friendsRequestsCard .CancelSuggestion a{
   
    color: black;
    font-weight: 500;   
   }

.friendsRequestsCard .CancelSuggestion{
    width: 80%;
    background: #dfdfdf;
    padding: 6px;
    text-align: center;
    margin: 9px auto 9px auto;
    border-radius: 5px;
}

</style>
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  
<div class="friendsRequestsCard">

    <img src="{% static 'abhaypic.jpg' %}"" alt="">
    <div class="info">
        <div class="username">person</div>
        <div class="MutualFriends">2 mutual friends</div>
    </div>
    <div class="friendsRequest"><a href=""> Confirm</a></div>
    <div class="CancelSuggestion"><a href="">Remove</a></div>

</div>  