<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    my friendHtml
    
    {% for u1 in usersWithFrConnection %}
        <h1 id="{{u1.user.id}}">{{u1.user}}</h1> 
    
        <ul>

            {% for friend in u1.friends.all %}
            <li id="{{friend.id}}_{{forloop.counter}}">
                {{friend}}_{{friend.id}}
            </li>
            
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>