<div class="item fbsr">
    <div class="iconhomepage"><i class="fa fa-facebook" style="color:dodgerblue;"></i></div>
    <div class="titleleft">Nstudio</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-house-chimney" style="color: #1a81f4;"></i></div>
    <div class="titleleft">Friends</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-gamepad" style="color:#193f69;"></i></div>
    <div class="titleleft">Memories</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-house-chimney" style="color:#ce47d6;"></i></div>
    <div class="titleleft">Most recent</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid  fa-user-group" style="color:#30d873;"></i></div>
    <div class="titleleft">Groups</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-house-chimney" style="color:#d7d830;"></i></div>
    <div class="titleleft">Saved</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-gamepad" style="color:dodgerblue;"></i></div>
    <div class="titleleft">Pages</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-user-group" style="color:#144977;"></i></div>
    <div class="titleleft">Events</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid fa-gamepad" style="color:#46647e;"></i></div>
    <div class="titleleft">Favourites</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-solid  fa-user-group" style="color:#a46e10;"></i></div>
    <div class="titleleft">Ads Manager</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fas fa-adversal    " style="color:#342de2;"></i></div>
    <div class="titleleft">Ad Centre</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa fa-align-center" aria-hidden="true" style="color:#a41ea0;"></i></div>
    <div class="titleleft">Climate Science Centre</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fas fa-gamepad    " style="color:dodgerblue;"></i></div>
    <div class="titleleft">Gaming Video</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa fa-viadeo" aria-hidden="true" style="color:#1f6170;"></i></div>
    <div class="titleleft">Live video</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa-brands  fa-facebook-messenger" style="color:#df3b00;"></i></div>
    <div class="titleleft">messanger</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa fa-gamepad" aria-hidden="true" style="color:dodgerblue;"></i></div>
    <div class="titleleft">play games</div>
</div>
<div class="item fbsr">
    <div class="iconhomepage"><i class="fa fa-percent" aria-hidden="true" style="color:#22b444;"></i></div>
    <div class="titleleft">Recent & activity</div>
</div>